<div  class="task-form-container">
  <h2>Add New Task</h2>
  <form (ngSubmit)="addTask()">
    <label for="taskName">Task Name:</label>
    <input
      type="text"
      id="taskName"
      name="taskName"
      placeholder="Name"
      [(ngModel)]="newTask.task_name"
      required
    />
    <label for="dueDate">Due Date:</label>
    <input
      type="date"
      id="dueDate"
      name="dueDate"
      [(ngModel)]="newTask.due_date"
      required
    />
    <br>
    <label for="description">Description:</label>
    <textarea
      id="description"
      name="description"
      placeholder="Description"
      [(ngModel)]="newTask.description"
      required
      ></textarea>
      <br>
    <button type="submit">Add Task</button>
  </form>
</div>
<div *ngFor="let task of tasks_list; let i = index" class="task-container">
  <div class="task-index">
    <strong>{{ i + 1 }}</strong>
  </div>
  <div class="task-attributes">
    <div class="task-details" *ngIf='edit_task_idx === -1'>
      <p><strong>Task Name:</strong> {{ task.task_name }}</p>
      <p><strong>Due Date:</strong> {{ task.due_date | date }}</p>
      <p><strong>Description:</strong> {{ task.description }}</p>
    </div>
  <div *ngIf='edit_task_idx !== -1'>
    <div *ngIf='i === edit_task_idx'>
      <input type="text" [(ngModel)]="task.task_name">
      <input type="date" [(ngModel)]="task.due_date">
      <textarea [(ngModel)]="task.description" ></textarea>
    </div>
    <div *ngIf='i !== edit_task_idx'>
      <p><strong>Task Name:</strong> {{ task.task_name }}</p>
      <p><strong>Due Date:</strong> {{ task.due_date | date }}</p>
      <p><strong>Description:</strong> {{ task.description }}</p>
    </div>

    </div>
  </div>
  <div class="task-actions">
    <button *ngIf="edit_task_idx !== i" (click)="toggleEditMode(i)">Edit</button>
    <button *ngIf="edit_task_idx === i" (click)="saveTaskChanges(task, i)">Save</button>
    <button (click)="deleteTask(task, i)">Delete</button>
    <input type="checkbox" [checked]="task.isCompleted" />
  </div>
</div>
