<div class="container">
    <div class="login-container">
      <div class="circle">

        <img src="../../assets/images/login_user.jpg" alt="Profile Photo">
      </div>
      <h2>Sign Up</h2>
      <form [formGroup] = "registearationForm" action="#" method="post">
        <input formControlName = "email" type="text" name="email" placeholder="User Name" required>
        <input formControlName = "userName" type="text" name="username" placeholder="Email" required>
        <input formControlName = "password" type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
        
      </form>
      {{registearationForm.value | json}} 
      <div>
        <nav>
          Already have an account? <a routerLink="/login"> Log In</a>
        </nav>
      </div>
    </div>
  </div>