.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin: 0 auto 20px; /* Center the circle horizontally and add space below */
  position: relative; /* To position the image inside the circle */
}

.circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container input:not([type="checkbox"]){
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #FACD91;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #ff9100;
}

form {
  margin-bottom: 30px;
}

.error-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.checkbox-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px; /* Add some space between checkbox and label */
}
