.user-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .personal-info,
  .contact-info,
  .educational-info {
    margin-bottom: 30px;
    overflow: hidden; 
  }
  
  .personal-info-details {
    float: left;
    width: calc(50% - 60px); 
    /* the personal info details take up half of the container's width minus some additional padding on both sides (60 pixels total). */
  }
  
  .contact-info,
  .educational-info {
    width: 100%;
  }
  
  .info-item {
    margin-bottom: 15px;
  }
  
  .info-label {
    font-weight: bold;
    color: #555;
  }
  
  .info-value {
    color: #777;
  }
  
  .user-photo-container {
    float: right;
    width: 100px;
    text-align: center;
  }
  
  .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
  }
  